header {
    @apply z-[99] relative;
    .header-menu {
        li {
            a {
                @apply transition-[bottom] relative bottom-0;
                @apply hover:bottom-2;
            }
        }

            @apply max-h-0;
            @apply overflow-hidden;
            @apply 2xl:max-h-full;
            &.open {
                @apply py-10;
                @apply max-h-[999px];
                @apply overflow-hidden;
                @apply transition-all duration-500;
            }
            &.hiding {
                @apply max-h-[0px];
                @apply 2xl:max-h-full;
                @apply transition-all duration-500;
            }
    }
    button {
        overflow: hidden;
        span:first-child {
            @apply -translate-y-2.5;
        }
        
        span:last-child {
            @apply translate-y-2.5;
        }
        &.open {
            span:first-child {
                @apply rotate-45 translate-y-0;
            }
            span:nth-child(2) {
                @apply opacity-0;
            }
            span:last-child {
                @apply -rotate-45 translate-y-0;
            }
        }
    }
}