.swiper-section {
    @apply bg-beige;
    .badge {
        @apply mb-[30px];
        @apply 2xl:mb-6 xl:mb-[20px];
        @apply text-lg;
        @apply 2xl:text-xl xl:text-sm;
        span {
            @apply text-lg;
            @apply 2xl:text-xl xl:text-sm;
        }
    }
    .features {
        @apply py-[30px] px-[19px] lg:px-0;
        &__title {
            @apply text-xl tracking-wide;
        }
        &__desc {
            //18/28
            @apply text-lg font-prophet font-light tracking-wider uppercase;
            //14/26
            @apply xl:text-sm xl:leading-[1.85];
            //20/42
            @apply  2xl:text-xl 2xl:leading-[2.1] ;
        }
        ul {
            @apply pl-5;
            li {
                @apply list-disc;
            }
        }
    }
    &__community {
        .badge {
            @apply bg-black relative inline-flex items-center justify-center min-w-[100px] ;
            clip-path: url(#community-badge);

            span {
                @apply flex items-center z-10 relative;
                @apply py-[7px] px-[19px];
                @apply xl:py-2.5 xl:px-[35px];
                @apply 2xl:py-2.5 2xl:px-[27px];
                
            }

            &::after {
                @apply absolute bg-beige;
                @apply top-px bottom-px left-px right-px;
                @apply 2xl:top-0.5 2xl:bottom-0.5 2xl:left-0.5 2xl:right-0.5;

                clip-path: url(#community-badge);
                content: "";
            }
        }

        img {
            clip-path: url(#community-path);
        }
        .swiper-horizontal > .swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal {
            @apply text-right -bottom-[0px];
            .swiper-pagination-bullet {
                @apply w-[14px] h-[14px] mx-[3px] border-mustard border-[1px] bg-transparent opacity-100;
            }
            .swiper-pagination-bullet-active {
                @apply bg-mustard;
            }
        }
    }
    &__living {
        .badge {
            @apply rounded-[23.5px] border-black border-[1px];
            @apply 2xl:border-2;
            @apply py-[7px] px-[22px];
            @apply xl:py-2.5 xl:px-[22px];
            @apply 2xl:py-[8px] 2xl:px-[18px];
           
            
        }
        img {
            @apply 2xl:rounded-[32px] xl:rounded-[15px] rounded-[14px];
        }
        .swiper-horizontal > .swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal {
            @apply text-right -bottom-[0px];
            .swiper-pagination-bullet {
                @apply w-[14px] h-[14px] mx-[3px] border-red-dark border-[1px] bg-transparent opacity-100;
            }
            .swiper-pagination-bullet-active {
                @apply bg-red-dark;
            }
        }
    }
    &__workspaces {
        @apply pb-[99px] 2xl:pb-[194px];

        .badge {
            @apply bg-black relative inline-flex items-center justify-center min-w-[100px];
            clip-path: url(#workspaces-badge);

            span {
                @apply flex items-center z-10 relative py-2.5 px-10;
                @apply py-[7px] px-[28.5px];
                @apply xl:py-2.5 xl:px-[42px];
                @apply 2xl:py-2.5 2xl:px-10;
            }

            &::after {
                @apply absolute bg-beige;
                @apply top-px bottom-px left-px right-px;
                @apply 2xl:top-0.5 2xl:bottom-0.5 2xl:left-0.5 2xl:right-0.5;
                clip-path: url(#workspaces-badge);
                content: "";
            }
        }

        img {
            clip-path: url(#workspaces-path);
        }
        .swiper-horizontal > .swiper-pagination-bullets,
        .swiper-pagination-bullets.swiper-pagination-horizontal {
            @apply text-right -bottom-[0px];
            .swiper-pagination-bullet {
                @apply w-[14px] h-[14px] mx-[3px] border-blue-dark border-[1px] bg-transparent opacity-100;
            }
            .swiper-pagination-bullet-active {
                @apply bg-blue-dark;
            }
        }
    }
}

.swiper-slide {
    @apply h-auto self-stretch;
    .text-caption {
        @apply h-[24px] pt-1;
    }
}