.swiper-horizontal > .swiper-pagination {
    @apply h-auto flex justify-center bottom-6;
    @apply lg:bottom-5;
    @apply xl:bottom-5;
    @apply 2xl:bottom-8;

    
}
.swiper-slide {
    @apply h-auto self-stretch  overflow-hidden;
    .text-caption {
        @apply h-[24px] pt-1;
    }
}
.swiper-wrapper {
  box-sizing: border-box;
}
.hero-slider__pagination {
    @apply absolute bottom-[27px] z-50;
    .swiper-pagination-bullet {
        @apply mx-[6px] lg:mx-2.5 #{!important};
        @apply bg-white transition-opacity my-0 rounded-none;
        @apply rounded-[999px];
        @apply lg:bottom-[27px] relative;
        @apply w-4 h-4;
        @apply lg:w-[25px] lg:h-[25px];
        opacity: 0.4 !important;
        &-active {
           opacity: 1 !important; 
        }
    }
} 