<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Klaster</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/icons/main-logo.svg">
    <link rel='stylesheet' id='app-css' href='/build/css/app.css' type='text/css' media='all' />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin="true" />
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet" />
</head>

<body class="home ">
    <header class="flex flex-wrap items-center pt-[30px] pr-[20px] pb-[20px] pl-[30px] bg-blue-dark text-white">
        <div class="mr-7 shrink-0 flex items-center space-x-[10px]"><a class="flex items-center space-x-[10px]">
            <a href="/"><img src="/assets/images/icons/header-text.svg" alt="Klaster logo"></a>
            <a href=""><img src="/assets/images/icons/navbar-birds.svg" alt="Key National Cluster"></a>
        </div>
        <ul class="flex mr-10 grow font-fira-sans">
            <li class="text-[18px] leading-6"><a class="p-[10px]" href="/templates/wiadomosci.html">Wiadomości</a></li>
            <li class="text-[18px] leading-6"><a class="p-[10px]" href="/templates/o-klastrze.html">O klastrze</a></li>
            <li class="text-[18px] leading-6"><a class="p-[10px]" href="/templates/oferta-klastra.html">Oferta Klastra</a></li>
            <li class="text-[18px] leading-6"><a class="p-[10px]" href="/templates/gielda-uslug.html">Giełda Usług</a></li>
            <li class="text-[18px] leading-6"><a class="p-[10px]" href="/templates/showroom.html">Showroom</a></li>
            <li class="text-[18px] leading-6"><a class="p-[10px]" href="/templates/projekty.html">Projekty</a></li>
            <li class="text-[18px] leading-6"><a class="p-[10px]" href="/templates/akademia-recyklingu.html">Akademia Recyklingu</a></li>
            <li class="text-[18px] leading-6"><a class="p-[10px]" href="/templates/baza-wiedzy.html">Baza wiedzy</a></li>
            <li class="text-[18px] leading-6"><a class="p-[10px]" href="/templates/kontakt.html">Kontakt</a></li>
            <li class="text-[18px] leading-6"><a class="p-[10px]" href="/templates/english.html">English</a></li>
        </ul><a class="btn btn-primary btn-navbar" href="/">strefa klastra</a>
    </header>
   
</body>
<footer class="bg-blue-dark text-white pt-[72px] pb-[120px]">
    <div class="container">
        <div class="grid-custom grid-custom__gapped">
            <div class="col-span-full md:col-span-5 flex">
                <div class="shrink-0"><a href="/"><img src="/assets/images/icons/main-logo.svg" alt=""></a></div>
                <div class="ml-10 text">
                    <div class="text-h5">
                        <p>O firmie</p>
                    </div>
                    <div class="text-base">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet dui quis risus
                            semper, vulputate rutrum quam molestie. </p>
                    </div>
                </div>
            </div>
            <div class="col-span-full md:col-span-3">
                <div class="text-h5">
                    <p>Kontakt</p>
                </div>
                <div class="text-base">
                    <div class="element flex space-x-1"><img src="/assets/images/icons/Phone.svg" alt=""><a href="">ul. Wybrana 3/5,
                            00-000 Miasto</a></div>
                    <div class="element flex space-x-1"><img src="/assets/images/icons/Email.svg" alt=""><a
                            href="tel:+48 123 456 789">+48 123 456 789</a></div>
                    <div class="element flex space-x-1"><img src="/assets/images/icons/Location.svg" alt=""><a
                            href="mailto:kontakt@firma.com">kontakt@firma.com</a></div>
                </div>
            </div>
            <div class="col-span-full | md:col-start-10 md:col-span-3">
                <div class="text-h5 mb-[30px]">
                    <p>Znajdź Nas
                        <br>na social media
                    </p>
                </div>
                <div class="flex space-x-5">
                    <div class="block"><a href="https://www.facebook.com/" target="_blank" rel="noreferrer"><img src="/assets/images/icons/facebook.svg" alt=""></a></div>
                    <div class="block"><a href="https://www.linkedin.com/" target="_blank" rel="noreferrer"><img src="/assets/images/icons/linkedin.svg" alt=""></a></div>
                    <div class="block"><a href="https://twitter.com/" target="_blank" rel="noreferrer"><img src="/assets/images/icons/twitter.svg" alt=""></a></div>
                </div>
            </div>
        </div>
    </div>
</footer>

</html>