<section class="form-single text-white pt-[50px] pb-[100px]">
    <div class="container">
        <div class="grid-custom grid-custom__gapped">
            <div class="col-span-full lg:col-span-4">
                <div class="text-h3 underline-custom">
                    <h3>Jesteś zainteresowany projektem?</h3>
                </div>
                <div class="text-h5 mt-[30px]">
                    <p>Skontaktuj się z założycielem z firmą ofertową poprzez formularz</p>
                </div>
            </div>
            <div class="col-span-full lg:col-span-8">
                <form action="">
                   <div class="grid xl:grid-cols-8 gap-[30px]">
                        <div class="col-span-full xl:col-span-4 space-y-5">
                            <div class="item">
                                <label for="field-1" class="label-custom label-custom--form">Dane osobowe<span class="text-yellow">*</span></label>
                                <input type="field-1" id="field-1" class="input input-custom input-custom--form" placeholder="Imię i nazwisko" required>
                            </div>
                            <div class="item">
                                <label for="field-1" class="label-custom label-custom--form">E-mail<span class="text-yellow">*</span></label>
                                <input type="field-1" id="field-1" class="input input-custom input-custom--form" placeholder="Podaj e-mail kontaktowy" required>
                            </div>
                            <div class="item">
                                <label for="field-1" class="label-custom label-custom--form">Temat</label>
                                <input type="field-1" id="field-1" class="input input-custom input-custom--form" placeholder="Podaj temat zapytania">
                            </div>
                            <div class="item">
                                <div class="flex mr-4">
                                    <input id="green-checkbox" type="checkbox" value="" class="rounded-[2px] w-4 h-4 text-green bg-gray-100 border-gray-300 focus:ring-green dark:focus:ring-green dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="red-checkbox" class="ml-2 text-xs leading-[18px]">Wyrażam zgodę na przetwarzanie moich danych osobowych przez Klaster Gospodarki Odpadowej i Recyklingu, w celu udzielenia odpowiedzi, w tym przedłożenia oferty jeśli o nią pytam...</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-full xl:col-span-4 space-y-[30px]">
                            <div class="item">
                                <label for="field-1" class="label-custom label-custom--form">Treść wiadomości</label>
                                <textarea class="input input-custom input-custom--form min-h-[250px] focus:border-none outline-0" placeholder="Tutaj możesz napisać treść wiadomości"></textarea>
                            </div>
                            <div class="item">
                                <button type="submit" class="btn-contact">Wyślij zapytanie</button>
                            </div>
                        </div>
                   </div>
                </form>
                
            </div>

        </div>
    </div>
</section>