<header class="flex flex-wrap items-center px-2.5 lg:px-5 py-[30px] bg-blue-dark text-white">
    <div class="2xl:mr-7 mr-auto shrink-0 flex items-center lg:space-x-[10px] space-x-1.5">
       <a href="/build/dist/index.html"><img class="lg:w-auto w-[150px]" src="/assets/images/icons/header-text.svg" alt="Klaster logo"></a>
       <a href=""><img class="lg:w-auto w-[130px]" src="/assets/images/icons/navbar-birds.svg" alt="Key National Cluster"></a>
    </div>
    <div class="buttons flex 2xl:order-2">
       <a class="btn btn-primary btn-navbar mr-[55px] 2xl:mr-0 hidden lg:flex" href="/build/dist/index.html">strefa klastra</a>
       <button class="js-hamburger text-black w-[45px] h-[45px] relative focus:outline-none block | 2xl:hidden">
          <div class="block w-[33px] absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
              <span aria-hidden="true" class="block absolute rounded-full h-1 w-[33px] bg-green transition duration-500 ease-in-out"></span>
              <span aria-hidden="true" class="block absolute rounded-full h-1 w-[33px] bg-green transition duration-500 ease-in-out"></span>
              <span aria-hidden="true" class="block absolute rounded-full h-1 w-[33px] bg-green transition duration-500 ease-in-out"></span>
          </div>
       </button>
    </div>
    <ul class="header-menu 2xl:mr-10 grow w-full text-right 2xl:text-center 2xl:flex 2xl:w-auto md:order-1 hiding">
       <li class="2xl:text-[18px] 2xl:leading-6 text-[25px] leading-[45px]"><a class="p-[10px]" href="/build/dist/wiadomosci.html">Wiadomości</a></li>
       <li class="2xl:text-[18px] 2xl:leading-6 text-[25px] leading-[45px]"><a class="p-[10px]" href="/build/dist/o-klastrze.html">O klastrze</a></li>
       <li class="2xl:text-[18px] 2xl:leading-6 text-[25px] leading-[45px]"><a class="p-[10px]" href="/build/dist/oferta-klastra.html">Oferta
          Klastra</a>
       </li>
       <li class="2xl:text-[18px] 2xl:leading-6 text-[25px] leading-[45px]"><a class="p-[10px]" href="/build/dist/gielda-uslug.html">Giełda Usług</a>
       </li>
       <li class="2xl:text-[18px] 2xl:leading-6 text-[25px] leading-[45px]"><a class="p-[10px]" href="/build/dist/showroom.html">Showroom</a></li>
       <li class="2xl:text-[18px] 2xl:leading-6 text-[25px] leading-[45px]"><a class="p-[10px] active" href="/build/dist/projekty.html">Projekty</a></li>
       <li class="2xl:text-[18px] 2xl:leading-6 text-[25px] leading-[45px]"><a class="p-[10px]" href="/build/dist/akademia-recyklingu.html">Akademia
          Recyklingu</a>
       </li>
       <li class="2xl:text-[18px] 2xl:leading-6 text-[25px] leading-[45px]"><a class="p-[10px]" href="/build/dist/baza-wiedzy.html">Baza wiedzy</a>
       </li>
       <li class="2xl:text-[18px] 2xl:leading-6 text-[25px] leading-[45px]"><a class="p-[10px]" href="/build/dist/kontakt.html">Kontakt</a></li>
       <li class="2xl:text-[18px] 2xl:leading-6 text-[25px] leading-[45px]"><a class="p-[10px]" href="/build/dist/english.html">English</a></li>
       <li class="lg:hidden flex justify-end mt-[30px]"><a class="btn btn-primary btn-navbar" href="/">strefa klastra</a></li>
    </ul>  
 </header>